* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
      display: flex;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: royalblue;
      padding: 0px;
  }
  #timer{
    text-align: right;
    color: darkblue;
    margin-right: 80px;
  }

  body {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(228, 170, 189);
    
  }
 
    
    
  div.card {
    padding: 70px;
    position: relative;
    color: royalblue;
  }
  
  ul {
    margin: 100px;
  }
  
  button {
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    
    background-color: lightsteelblue;
  }
  .vScore:hover{
      background-color: pink; 
  }
  .btn-lg:hover{
    background-color: pink;

  }
  ul {
    list-style: none;
    padding: 10px;
  }
  li:hover {
      background-color: peachpuff;
  }
  
  li {
    padding: 20px 10px;
    margin: 10px 80px;
    font-size: 23px;
    background-color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
  }
  
  #indicator {
    font-style: bold;
    font-size: 50px;
  }
  
  .highscore-element {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(43, 126, 221);
    padding: 10px;
    margin: 10px;
    padding-left: 30px;
    background-color: lightpink;
  }
  /* MEDIA QUERIES FOR SMALL SCREENS */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERIES FOR TABLET */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR PHONE */
@media screen and (max-width: 575px) {

}
