* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
      display: flex;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: royalblue;
      padding: 0px;
  }
  
  body {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(228, 170, 189);
    
  }
  p.timer{
      text-align: right;
      color: darkblue;
    }
  
  .btn-hiscore{
   justify-content: left;
   color: royalblue;

  }
  
    
  div.card {
    padding: 70px;
    position: relative;
    color: royalblue;
  }
  
  ul {
    margin: 100px;
  }
  
  button {
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: lightsteelblue;
  }
  .btn-hiscore:hover{
      background-color: pink; 
  }
  .btn-lg:hover{
    background-color: pink;

  }
  ul {
    list-style: none;
  }
  
  li {
    padding: 10px;
    margin: 10px;
    font-size: 23px;
    background-color: rebeccapurple;
  }
  
  #indicator {
    font-style: italic;
    font-size: 60px;
  }
  
  .highscore-element {
    font-size: 18px;
    text-align: left;
    color: white;
    padding: 10px;
    margin: 10px;
    padding-left: 30px;
    background-color: rebeccapurple;
  }
  